doctype html
html(lang='en')
  head
    include composition/header-libraries.pug
    title=title
    meta(name="description" content=description)
    include composition/accessibility-metadata.pug
    script(src='https://unpkg.com/vue-draggable@1.0.8/lib/vue-draggable.js')
  body
    include composition/header.pug
    .background-gray
      #compare-vehicles
    include composition/footer.pug
    script(src="../js/dist/compare/main.js")
    script(type='application/ld+json').
      {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "url": "#{ url }",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "#{ url }/search",
            "query-input": "required"
          }
          "description": "#{ description }",
          "title": "#{ title }"
      }